# ID de Medição do Google Analytics (ex: G-XXXXXXXXXX)
PUBLIC_GA_ID=""

# ID do Container do Google Tag Manager (ex: GTM-XXXXXXX)
PUBLIC_GTM_ID=""

# ID do Meta Pixel (Facebook Pixel) (ex: 123456789012345)
PUBLIC_META_PIXEL_ID=""

# Token de Verificação do Google Search Console (da tag <meta name="google-site-verification" content="..." />)
PUBLIC_GOOGLE_SITE_VERIFICATION=""
